:root {
  --primary: #000527;
  --secondary: #00c8b9;
  --bg: #041020;
  --font-size-h1: 3rem; /* 48px */
  --font-size-h2: 2.5rem; /* 40px */
  --font-size-h3: 2rem; /* 32px */
  --font-size-h4: 1.75rem; /* 28px */
  --font-size-h5: 1.5rem; /* 24px */
  --font-size-h6: 1.25rem; /* 20px */
  --font-size-p: 1rem; /* 16px */
  --line-height-p: 1.5; /* Line height for paragraph */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-large: 1.125rem; /* 18px */
  --color-text: #fff;
  --color-border: #fff;
}

/* Resetting Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--color-text);
}

body {
  font-family: "roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
}
ul {
  letter-spacing: 0.02rem;
}

span {
  font-size: var(--font-size-h6);
  color: var(--secondary);
}

.splash-button {
  overflow: visible !important;
}

/* Common Elements */
.horizontal-about,
.horizontal-project,
.horizontal-galery,
.horizontal-career,
.horizontal-certificate,
.horizontal-skill {
  width: 5rem;
  border: 1px solid var(--color-border);
}

/* Image Styling */
img.bima {
  position: absolute;
  right: 0;
  margin-top: -25rem;
  width: 35rem; /* Adjust width as needed */
  z-index: -1;
}

/* Sub-Title */
.sub-title-about,
.sub-title-project,
.sub-title-galery,
.sub-title-career,
.sub-title-certificate,
.sub-title-skill {
  gap: 1rem;
  display: flex;
  align-items: center;
}

/* Fixed Content */
.content-fixed {
  display: flex;
  justify-content: center;
}

/* Social and Email Fixed */
.content-fixed .social-fixed,
.content-fixed .email-fixed {
  position: fixed;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 1rem;
}

.content-fixed .social-fixed {
  left: 1rem;
  bottom: -3rem;
  align-items: center;
}

.content-fixed .email-fixed {
  right: 1rem;
  bottom: -1rem;
}

.content-fixed .email-fixed a {
  writing-mode: vertical-rl;
  cursor: pointer;
  color: var(--color-text);
}

/* Social Icons Hover Effect */
.github-2 img,
.linkedin-2 img,
.instagram-2 img,
.dribble-2 img {
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.6s ease;
  z-index: 999; /* Set z-index to be behind */
}

.github-1 img,
.linkedin-1 img,
.instagram-1 img,
.dribble-1 img {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
  transition: clip-path 0.6s ease;
  z-index: 9999; /* Set z-index to be on top */
}

.github:hover img,
.linkedin:hover img,
.instagram:hover img,
.dribble:hover img {
  clip-path: inset(0 0 0 0);
  cursor: pointer;
}

/* Vertical Line */
.content-fixed .vertical {
  height: 4rem;
  width: 1px;
  border: 1px solid var(--color-border);
  z-index: 1;
  display: flex;
  align-self: center;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 1rem;
  width: 100%;
  color: var(--color-text);
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 20;
  transition: transform 0.5s ease;
}

.navbar-nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 3rem;
  margin: 0 auto;
  padding: 0.6rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-border);
  border-radius: 5rem;
}

/* Navbar Links */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: var(--color-text);
  font-size: 12px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 1; /* Menghapus ruang kosong di bawah teks */
  padding: 0;
}

.nav-links a:hover {
  color: var(--secondary);
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--secondary);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
  background: var(--secondary);
}

.nav-links a.active {
  position: relative;
  color: var(--secondary);
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 6px;
}

#hamburger-menu {
  display: none;
}
.navbar .navbar-extra img {
  height: 2.5rem;
  position: fixed;
  right: 2rem;
  top: 1rem;
}

/* Show Navbar */
.navbar-show {
  opacity: 1;
}

/* Neon Text */
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: var(--color-text);
}

/* Flickering Animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #bc13fe, 0 0 11px var(--secondary),
      0 0 19px var(--color-text), 0 0 40px #bc13fe, 0 0 80px #bc13fe,
      0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* Modal Sertificate */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s;
  z-index: 100;
  transition: all 3000ms;
}

.modal .container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
}

.btn-modal {
  z-index: 1000;
  position: fixed;
  left: 2rem;
  border-radius: 0;
  top: 0;
  cursor: pointer;
}
.btn-modal img {
  width: 4rem;
}
.btn-modal img:hover {
  filter: drop-shadow(0px 0px 0.2rem var(--secondary));
}

.modal .modal-content {
  backdrop-filter: blur(30px);
  padding: 1rem;
  border: 1px solid #888;
  height: 90vh;
  width: 80%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-200px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  overflow: hidden;
}

.modal img {
  width: 100%;
  height: auto;
  align-self: center;
  background-size: cover;
  /* object-fit: cover; */
  overflow: hidden;
}

.close {
  color: #aaa;
  float: right;
  margin-top: -1rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

/* Modal content visible with animation */

.modal-content.show {
  transform: translateY(0);
  opacity: 1;
}

.modal .modal-content .title-modal {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.modal .modal-content .title-modal span {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal .modal-content .body-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
  position: relative;
}

.hero .container {
  font-size: var(--font-size-h1);
  display: flex;
  text-align: center;
  flex-direction: column;
}

.hero .container span {
  font-size: var(--font-size-h4);
  fill: 2px solid #fff;
}

.hero .container h5 {
  font-weight: 300;
  color: #ffffff8f;
}

.hero .container .flip-card {
  background-color: transparent;
  width: 12rem;
  height: 12rem;
  perspective: 1000px;
  align-self: center;
  margin-bottom: 2rem;
  z-index: 2;
}

.hero .container .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 12px var(--secondary);
}

.hero .container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.hero .container .flip-card-front,
.hero .container .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hero .container .flip-card-front img,
.hero .container .flip-card-back img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid var(--color-text);
}

.hero .container .flip-card-back {
  transform: rotateY(180deg);
}

/* About Section */
.about {
  display: flex;
  justify-content: start;
  padding: 5rem 7%;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.about .content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
  margin-top: 2rem;
}

.about .content .box {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 30rem;
  width: 22rem;
  background: #060c21;
}

.about .content .box .sub-title-about {
  position: absolute;
  top: -5rem;
  z-index: 11;
}

.about .content .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.about .content .box:hover img {
  filter: none;
}

.about .content .box::before,
.about .content .box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(235deg, #bc13fe, #060c21, #00c8b9);
}

.about .content .box::before {
  z-index: -1;
}

.about .content .box::after {
  z-index: -1;
  filter: blur(40px);
}

.about .content .box .close-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: #ffffff0c;
  pointer-events: none;
  transition: width 0.8s;
  z-index: 1;
}

.about .content .box:hover .close-box {
  width: 100%;
}

.about .content .about-me {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.about .content .about-me h4 {
  margin: 2rem 0;
}

.about .content .about-me .animated-paragraph {
  margin-bottom: 2rem;
}
.about .content .about-me .animated-paragraph span {
  opacity: 0.15;
  color: #fff;
}

.about .content .about-me .email-container,
.about .content .about-me .home-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.about .content .about-me .email-container p,
.about .content .about-me .home-container p {
  margin-bottom: 0;
}

.about .content .about-me .email-container img,
.about .content .about-me .home-container img {
  width: 2rem;
  height: 2rem;
}

/* Project Section */
.project {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5rem 7%;
}
.project .text {
  text-align: left;
  width: 100%;
  padding: 0 2.8rem;
}

.project-btn {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  padding: 0 2.8rem;
}
.project-btn .splash-button.btn {
  height: 2rem;
  width: 8rem;
  font-size: 0.9rem;
  box-shadow: none;
}
.project-btn .splash-button.btn.active {
  box-shadow: 0px 0px 10px var(--secondary);
}
.project-btn .splash-button.btn.disable {
  opacity: 0.5;
}

.project .row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project .row .card {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 2rem;
  width: 25rem;
  height: auto;
  padding: 1.2rem;
  border-radius: 1.2rem;
  backdrop-filter: blur(0.1rem);
  -webkit-backdrop-filter: blur(0.1rem);
  border: 1px solid var(--secondary);
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 10;
  color: rgba(245, 245, 245, 0.623);
}

.project .row .card:hover {
  background: rgba(255, 255, 255, 0.15);
}

.project .row .card .img-wrapper {
  width: 100%;
  height: 13rem;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1rem;
}

.project .row .card:hover .img-wrapper img {
  transform: scale(1.05);
}

.project .row .card img {
  width: 100%;
  height: 100%;
  transition: transform 500ms ease;
  object-fit: cover;
}

.project .row .card .name-project {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project .row .card .name-project h6 {
  font-size: var(--font-size-h6);
  margin: 0 0 9px 0;
  text-align: left;
}
.project .row .card .name-project img {
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
  filter: brightness(0) invert(1);
  margin-top: 1px;
}

.project .row .card p {
  font-size: 11px;
  margin: 0 0 0.7rem 0;
  opacity: 0.5;
  text-align: start;
  text-align: justify;
}

.project .row .card .item-tool {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.project .row .card .tool {
  height: 2.2rem;
  width: fit-content;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  align-self: start;
  gap: 0.2rem;
  padding: 0.3rem 0.5rem;
}

.project .row .card .tool img {
  height: 100%;
  width: auto;
  border-radius: 0;
}

.project .row .card .tool p {
  margin: 0;
  padding: 0;
  opacity: 1;
}

.project .row .card .link {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  margin-top: auto;
}

.project .row .card .link:hover {
  background: #00c8bb2c;
}

.project .row .card .link a {
  font-size: 0.8rem;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project .row .card .link span {
  color: var(--secondary);
  font-size: 0.8rem;
}

.project .my-tech {
  margin: 3rem 0 0rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project .my-tech .tech-container {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
}
.project .my-tech .tech-container img {
  height: 3rem;
  width: auto;
  opacity: 0.5;
  filter: grayscale(80%);
  transition: all 300ms ease;
}
.project .my-tech .tech-container img:hover {
  height: 3rem;
  width: auto;
  opacity: 1;
  filter: grayscale(0%);
  scale: 1.1 !important;
}

/* Galery Section */

.galery {
  width: 100%;
  padding: 5rem 7%;
  display: flex;
  flex-direction: column;
}

.galery .container {
  display: flex;
  flex-direction: column;
  width: auto;
}
.galery .container .text {
  width: 100%;
  padding: 0 2.8rem;
}

.galery .container .img-container {
  width: 100%;
  padding: 0 1rem;
}
.galery .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.galery .responsive-container-block.bg {
  max-width: 1320px;
  margin: 0 0 0 0;
  justify-content: space-between;
}

.galery .img {
  width: 100%;
  margin: 0 0 20px 0;
}

.galery #i9rb {
  color: black;
}

.galery #ir6i {
  color: black;
}

.galery #ikz3b {
  color: black;
}

.galery .responsive-container-block.img-cont {
  flex-direction: column;
  max-width: 33.3%;
  min-height: auto;
  margin: 0 0 0 0;
  height: 100%;
}

.galery .container .item {
  position: relative;
  border: 2px solid var(--primary);
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.galery .container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 500ms;
}

.galery .container .item:hover img {
  transform: scale(1.1); /* Membesarkan gambar saat item di-hover */
}

.galery .container .item figcaption {
  position: absolute;
  bottom: -35rem;
  background: linear-gradient(
    to bottom,
    rgba(3, 2, 5, 0.151),
    rgb(0, 0, 0)
  ); /* Menggunakan nilai alpha yang lebih tinggi */
  width: 100%;
  height: 100%;
  color: white;
  text-align: start;
  justify-content: end;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: bottom 500ms; /* Transisi untuk gerakan hover */
}

.galery .container .item:hover figcaption {
  bottom: 0;
  cursor: pointer;
}

.galery #ipix {
  color: black;
}

.galery #ipzoh {
  color: black;
}

.galery #ig5q8 {
  color: black;
}

.galery #imtzl {
  color: black;
}

.galery #i53es {
  color: black;
}

.galery .img.img-big {
  height: 50%;
  margin: 0 0 16px 0;
}

@media (max-width: 1024px) {
  .galery .img {
    margin: 0 0 18px 0;
  }
}

@media (max-width: 768px) {
  .galery .img {
    max-width: 32.5%;
    margin: 0 0 0 0;
  }

  .galery .responsive-container-block.bg {
    flex-direction: column;
  }

  .galery .responsive-container-block.img-cont {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .galery .img.img-big {
    max-width: 49%;
    margin: 0 0 0 0;
  }
}

@media (max-width: 500px) {
  .galery .img {
    max-width: 94%;
    margin: 0 0 25px 0;
  }

  .galery .responsive-container-block.img-cont {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

  .galery .img.img-big {
    max-width: 94%;
    margin: 0 0 25px 0;
  }

  .galery .img.img-last {
    margin: 0 0 5px 0;
  }
}

/* Career Section */
.career .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 7%;
  width: 100%;
  align-self: start;
}

.career .sub-title-career {
  margin: 3rem 0 0 0;
}

@keyframes scanner-loop {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.career .gradient-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  width: 100%;
}

.career .gradient-cards .row {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 100%;
}

.career .gradient-cards .row .logo-inst {
  display: flex;
  justify-content: center;
  width: 7rem;
}

.career .gradient-cards .row .logo-inst a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.career .gradient-cards .line {
  position: absolute;
  background-color: aqua;
  box-shadow: 0px 0px 12px aqua;
  width: 4px;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.career .gradient-cards .line .scanner {
  position: absolute;
  background: white;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

.career .gradient-cards .card {
  display: flex;
  width: 100%;
  height: auto;
  border: 0;
}
.career .gradient-cards .card-null {
  display: flex;
  width: 100%;
  border: 0;
  visibility: hidden;
}

.career .gradient-cards .row .intern-job {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 0;
}

.career .gradient-cards .card .container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #060c21, #080509);
  background-clip: padding-box;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
}
.career .gradient-cards .card .container-card .job-desc {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.career .gradient-cards .card .container-card .circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ffffff8a;
  margin: 0.8rem 0 0.8rem -0.3rem;
}
.career .gradient-cards .card .container-card .job-desc .line-card {
  width: 3px;
  height: auto;
  background-color: #ffffff8a;
}
.career .gradient-cards .card .container-card .job-desc a {
  align-items: center;
  display: flex;
}
.career .gradient-cards .card .container-card .job-desc img {
  height: 2rem;
  width: auto;
  margin: 0.5rem 0;
  border: 0;
}

.career .gradient-cards .card .container-card .job-desc .portfolio-job {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.career .gradient-cards .card .container-card .job-desc .portfolio-job img {
  width: 6rem;
  height: 4rem;
  border-radius: 0;
  object-fit: cover;
  background-size: cover;
}
.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 1rem;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.career .gradient-cards .card .container-card ul {
  font-size: var(--font-size-p);
  margin-top: 0.5rem;
  line-height: var(--line-height-p);
  list-style-type: none;
}

.career .gradient-cards .row .card .container-card .time {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}
.career .gradient-cards .row .card .container-card h5 {
  margin: 0 0 0.2rem 0;
  font-size: 1.4rem;
}
.career .gradient-cards .row .card .container-card h6 {
  margin: 0 0 0.2rem 0;
  font-weight: 400;
}

.career .gradient-cards .row .card .container-card p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  line-height: var(--line-height-p);
}

.career .gradient-cards .row img {
  width: 3rem;
  height: 3rem;
  margin-top: 2rem;
  margin: 2rem 1rem 0 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  align-self: center;
  box-shadow: 0 0 12px #000000;
  object-fit: cover;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.career .gradient-cards .row img:hover {
  box-shadow: 0 0 12px #00c8b9;
}

/* certificate */
.certificate {
  width: 100%;
  padding: 2rem 7%;
  margin: 5rem 0;
}

.certificate .container {
  max-width: 1044px;
  margin: 0 auto;
}

.certificate .carousel {
  display: block;
  text-align: left;
  position: relative;
  padding: 0 2.8rem;

  > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;

    &:nth-of-type(6):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -500%;
    }
    &:nth-of-type(5):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -400%;
    }
    &:nth-of-type(4):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -300%;
    }
    &:nth-of-type(3):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: 0%;
    }

    &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
      box-shadow: 0px 0px 0px 5px var(--secondary);
    }
    &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
      box-shadow: 0px 0px 0px 5px var(--secondary);
    }
    &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
      box-shadow: 0px 0px 0px 5px var(--secondary);
    }
    &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
      box-shadow: 0px 0px 0px 5px var(--secondary);
    }
    &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
      box-shadow: 0px 0px 0px 5px var(--secondary);
    }
    &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
      box-shadow: 0px 0px 0px 5px var(--secondary);
    }
  }
}

.certificate .carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}

.certificate .carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 40rem;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;

  figure {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

  div {
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    display: block;
    width: 45rem;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
  }

  figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    min-width: 150px;
  }

  .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }

  &.scrollable {
    overflow-y: scroll;
  }
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  margin: 0 -10px;

  .carousel__slides + & {
    margin-top: 20px;
  }

  li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }

  img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    cursor: pointer;
  }
}

/* skills start */
/* Skill Section */
.skill {
  display: flex;
  justify-content: center;
}

/* Tools Section */
.skill .app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 7%;
}

.skill .app .tag-list {
  width: 40rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
  margin-top: 3rem;
}

.skill .app .loop-slider {
  display: flex;
}

.skill .app .loop-slider .inner {
  display: flex;
  width: fit-content;
  animation: loop var(--duration) linear infinite var(--direction);
}

.skill .app .loop-slider .tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #fff;
  font-size: 0.9rem;
  background-color: var(--bg);
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  cursor: default;
  transition: box-shadow 600ms;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2),
    0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
}

.skill .app .loop-slider .tag:hover {
  box-shadow: 0 0rem 0.8rem rgb(0, 200, 185), 0 0rem 0.8rem rgb(0, 200, 185),
    0 0rem 1.4rem rgb(0, 200, 185);
}

.skill .app .loop-slider .tag img {
  color: rgb(0, 200, 185);
  height: 2rem;
}

.skill .app .fade {
  pointer-events: none;
  background: linear-gradient(
    90deg,
    var(--bg),
    transparent 30%,
    transparent 70%,
    var(--bg)
  );
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Footer Section */
.footer {
  position: relative;
  height: 100%;
  background-image: url("../assets/img/Footer-aurora-01.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; /* Posisikan gambar di tengah dan bawah */
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(4, 16, 32, 1) 60%,
    transparent 100%
  );
  mask-image: linear-gradient(to top, rgba(4, 16, 32, 1) 60%, transparent 100%);
}

.footer .row {
  position: relative;
  bottom: 3rem;
  padding: 10rem 7% 0 7%;
  display: flex;
  width: 100%;
  color: #fff;
  justify-content: space-around; /* Atau gunakan space-between */
  align-items: start;
  left: 50%;
  transform: translateX(-50%);
  gap: 3rem;
}

.footer .row h3,
.footer .row h5 {
  margin-bottom: 2rem;
}

.footer .row a {
  font-size: 1rem;
  margin: 1rem 0;
  text-decoration: none; /* Menghilangkan garis bawah */
  color: inherit; /* Warna teks sesuai dengan elemen induk */
  outline: none; /* Menghilangkan outline pada fokus */
  cursor: pointer; /* Menambahkan pointer untuk menunjukkan elemen bisa diklik */
}

.footer .menu,
.footer .eksplore {
  display: flex;
  flex-direction: column;
}

.footer .menu a {
  margin-bottom: 0rem;
}

.footer .eksplore p {
  font-size: 1rem; /* Perbaiki ukuran font */
  width: 30rem;
  margin-bottom: 1rem;
}

.footer .eksplore img {
  height: 3.5rem;
  width: 10rem;
  margin-top: 2rem;
}

.footer .contact {
  display: flex;
  flex-direction: column;
}

.footer .contact .adress,
.footer .contact .email,
.footer .contact .phone {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footer .contact img {
  height: 1.5rem;
}

.footer .copyright {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 3rem;
  font-size: 0.9rem;
}

.footer .copyright p {
  margin: 0;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .bima {
    margin-top: -10rem;
  }
  #hamburger-menu {
    display: inline-block;
    position: fixed;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
    border-radius: 0;
  }

  .navbar .navbar-nav.active {
    right: 0;
    top: -1rem;
  }
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .sub-title-about,
  .sub-title-project,
  .sub-title-galery,
  .sub-title-career,
  .sub-title-certificate,
  .sub-title-skill {
    align-self: start;
  }

  .galery .container .item {
    width: 100%;
    height: 40rem;
    background-size: cover;
  }
  .galery .container .item figcaption {
    bottom: -40rem;
  }

  .career .gradient-cards .row .intern-job .container-card {
    height: 100%;
  }
  .certificate .carousel__slides img {
    width: 100%;
  }

  .certificate .carousel__slides figcaption {
    display: none;
  }

  .certificate .carousel__thumbnails li img {
    height: 5rem;
  }
  .skill .app {
    width: 80rem;
  }
  .skill .app .text {
    width: 100%;
    text-align: left;
    padding: 0 2.8rem;
  }
  #footer {
    padding: 0;
    margin: 0;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  html * {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 55%;
    padding: 0 0;
  }
  .bima {
    margin-top: -20rem !important;
  }

  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s;
    z-index: 100;
  }

  .modal .modal-content {
    padding: 1rem;
    border: 1px solid #888;
    height: 35rem;
    width: 90%;
    align-self: flex-start;
    justify-content: center;
    transform: translateY(-200px);
  }
  .certificate {
    width: 90%;
  }

  .btn-modal img {
    width: 3rem;
  }

  .modal img {
    width: 100%;
    height: 20rem;
  }

  .view-certificate {
    width: 8rem;
  }

  /* hero */
  .hero {
    padding: 0 7%;
  }
  .hero .container {
    padding-bottom: 10rem;
  }
  .hero .container .flip-card {
    width: 12rem;
    height: 12rem;
    margin-bottom: 3rem;
  }

  .hero .container .flip-card img {
    width: 12rem;
    height: 12rem;
  }

  /* about */
  .about {
    padding: 7rem 7% 0 7%;
  }

  .about .content {
    flex-direction: column;
    gap: 0;
  }
  .about .content .box {
    height: 25rem;
    width: 100%;
  }
  .about .content .box .sub-title-about {
    margin-left: -3rem;
  }
  .about .content .profil-about {
    padding: 0 2.2rem;
    width: 100%;
  }

  .about .content .box .close-box,
  .about .content .box img {
    width: 100%;
  }
  .about .content .about-me {
    width: 100%;
    text-align: justify;
    padding: 0 2.2rem;
  }

  /* Project */
  .project {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .project .container .row {
    justify-content: center;
    width: 100%;
    padding: 0 2.2rem;
  }
  .project .container .project-btn {
    width: 100%;
    padding: 0 2.2rem;
  }

  .project .container .row .card {
    width: 100%;
    height: auto;
    padding: 1.2rem;
  }
  .project .row .card .link {
    height: 2rem;
    margin-top: 1rem;
  }

  .project .container .row .img-wrapper {
    height: 15rem;
  }
  .project .container .row .img-wrapper img {
    border-radius: 1rem;
  }
  .project .my-tech .tech-container {
    gap: 1rem;
    width: 100%;
  }
  .project .my-tech .tech-container img {
    height: 2rem;
  }
  /* galery */

  .galery {
    padding: 0 7%;
  }
  .galery .container .item {
    width: 100%;
    height: 20rem;
    background-size: cover;
  }
  .galery .container .item figcaption {
    bottom: -20rem;
  }

  /* career */
  .career .container {
    padding: 0 7%;
  }
  .career .container p.text {
    height: 2rem;
    padding: 0 2.2rem;
    width: 100%;
    text-align: start;
  }
  .career .container .sub-title-career {
    padding: 0;
    justify-content: start;
    margin: 2rem 0 0 0;
  }
  .career .gradient-cards {
    gap: 1rem;
  }
  .career .gradient-cards .row {
    flex-direction: column;
  }
  .career .gradient-cards .row .container-card {
    width: 100%;
    height: 100% !important;
  }

  .career .gradient-cards .row .card {
    width: 100%;
  }
  .career .gradient-cards .row .logo-inst {
    display: none;
  }
  .career .gradient-cards .row .line {
    display: none;
  }
  .career .gradient-cards .row .intern-job .card .container-card {
    margin-top: 1rem !important;
  }
  .career .gradient-cards .row .logo-inst img {
    display: none;
  }

  /* certificate */
  .certificate {
    width: 100%;
  }

  .certificate .carousel {
    padding: 0 2.1rem;
    > input:checked {
      &:nth-of-type(1) ~ .carousel__thumbnails li:nth-of-type(1),
      &:nth-of-type(2) ~ .carousel__thumbnails li:nth-of-type(2),
      &:nth-of-type(3) ~ .carousel__thumbnails li:nth-of-type(3),
      &:nth-of-type(4) ~ .carousel__thumbnails li:nth-of-type(4),
      &:nth-of-type(5) ~ .carousel__thumbnails li:nth-of-type(5),
      &:nth-of-type(6) ~ .carousel__thumbnails li:nth-of-type(6) {
        box-shadow: none;
      }
    }
  }

  .certificate .carousel__viewport {
    overflow: hidden;
  }

  .certificate .carousel__track {
    display: flex;
    margin: 0 -1rem;
  }

  .certificate .carousel__slide {
    flex: 0 0 100%;
    max-width: 100%;
    white-space: normal;
    padding: 0 1rem;
    box-sizing: border-box;
    figure {
      margin: 0;
    }

    div {
      width: 100%;
      height: 100%;
      position: relative;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      top: 0;
      left: 0;
    }

    figcaption {
      display: none;
    }
  }

  .certificate .carousel__thumbnails {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 0 0 1rem;
  }
  .certificate .carousel__thumbnails img {
    height: 4.5rem;
    width: 6rem;
    padding: 0;
    margin: 0 !important;
  }

  /* skill */
  .skill {
    display: flex;
    text-align: start;
    justify-content: start;
  }
  .skill .app .text {
    width: 100%;
    padding: 0 2.2rem;
  }
  .skill .app .tag-list {
    width: 30rem;
  }

  /* footer */

  .footer * {
    padding: 0;
    margin: 0;
  }
  .footer .row {
    flex-direction: column;
    position: relative;
    padding: 0 7%;
    height: 18rem;
  }

  .footer .row .menu,
  .footer .row .contact {
    display: none;
  }

  .footer .copyright {
    display: block;
  }
}
