:root {
  --primary: #000527;
  --secondary: #00c8b9;
  --bg: #041020;
  --font-size-h1: 3rem; /* 48px */
  --font-size-h2: 2.5rem; /* 40px */
  --font-size-h3: 2rem; /* 32px */
  --font-size-h4: 1.75rem; /* 28px */
  --font-size-h5: 1.5rem; /* 24px */
  --font-size-h6: 1.25rem; /* 20px */
  --font-size-p: 1rem; /* 16px */
  --line-height-p: 1.5; /* Line height for paragraph */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-large: 1.125rem; /* 18px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: #fff;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--bg);
}


/* .social & email */

.content-fixed {
  display: flex;
  justify-content: center;
}
.content-fixed .social-fixed {
  position: fixed;
  top: 80%;
  left: 1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 1rem;
}

.github-2 img,
.linkedin-2 img,
.instagram-2 img,
.dribble-2 img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.6s ease;
  z-index: 1; /* Atur z-index agar berada di belakang */
}

.github-1 img,
.linkedin-1 img,
.instagram-1 img,
.dribble-1 img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  transition: clip-path 0.6s ease;
  z-index: 2; /* Atur z-index agar berada di atas */
}

.github:hover img,
.linkedin:hover img,
.instagram:hover img,
.dribble:hover img {
  clip-path: inset(0 0 0 0);
  cursor: pointer;
}

.content-fixed .email-fixed {
  position: fixed;
  top: 80%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 1rem;
}
.content-fixed .email-fixed a {
  writing-mode: vertical-rl;
  cursor: pointer;
  color: #fff;
}
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}
/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #bc13fe, 0 0 11px #00c8b9, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.content-fixed .vertical {
  height: 4rem;
  width: 1px;
  border: 1px solid #fff;
  z-index: 1;
  display: flex;
  align-self: center;
}

/* navbar start */
.navbar {
  position: fixed;
  top: 1rem;
  width: 50%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 5rem;
  color: #fff;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 1000;
}

.navbar-content {
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.6rem;
  box-shadow: 2, 2, 2 #00c8b9;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: var(--secondary);
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--secondary);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
  background: var(--secondary);
}

/* Menampilkan navbar dengan efek fade-in */
.navbar-show {
  opacity: 1;
}


/* Hero Start */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
  position: relative;
}

.hero .container {
  font-size: var(--font-size-h1);
  text-align: center;

}

/* project start */
.project {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem 7%;
}

.project h3 {
  font-size: var(--font-size-h3);
  margin: 2rem 0;
  text-align: center;
}

.project .row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.project .row .card {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 3rem;
  width: 16rem;
  height: 25rem;
  padding: 1rem;
  border-radius: 15px;
  background: #00052762;
  backdrop-filter: blur(0.1rem);
  border: 1px solid var(--secondary);
  z-index: 10;
  transition: background-color 0.3s ease;
}

.project .row .card img {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}
.project .row .card h6 {
  font-size: var(--font-size-h6);
}
.project .row .card p {
  font-size: 0.8rem;
  margin: 0.2rem 0 0.7rem 0;
  opacity: 0.5;
  text-align: start;
}
.project .row .card .item-tool{
  display: flex;
  gap: 0.5rem;
}

.project .row .card  .tool {
  height: 1.5rem;
  width: fit-content;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-self: start;
  gap: 0.2rem;
  padding: 0.2rem 0.5rem;
}
.project .row .card .tool img {
  height: 100%;
  width: auto;
  border-radius: 0;
}
.project .row .card .tool p {
  margin: 0;
  padding: 0;
  opacity: 1;
}
.project .row .card .link {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  margin-top: auto;
}

.project .row .card .link:hover {
  background: #00c8bb2c;
}

.project .row .card .link a {
  font-size: 0.8rem;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project .row .card .link span {
  color: var(--secondary);
  font-size: 0.8rem;
}

/* services start */
.services {
  display: flex;
  justify-content: center;
  padding: 5rem 7%;
}
.services .content .box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 20rem;
  width: 15rem;
  background: #060c21;
  padding: 2rem;
}
.services .content .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.services .content .box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.services .content .box:after,
.services .content .box:before {
  background: linear-gradient(235deg, #bc13fe, #060c21, #00c8b9);
}

/* Footer start */
footer {
  position: relative;
  height: 22rem;
  width: 100%;
  background-image: url('../assets/img/Footer aurora.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  -webkit-mask-image: linear-gradient(to top, rgba(4, 16, 32, 1) 60%, transparent 100%);
  mask-image: linear-gradient(to top, rgba(4, 16, 32, 1) 60%, transparent 100%);
}
footer h3 {
  font-size: var(--font-size-h3);
}
